.options .option {
  position: relative;
  overflow: hidden;
  min-width: 190px;
  height: 440px;
  margin: 10px;
  background-size: auto 120%;
  background-position: center;
  background: url(../images/home-2/click11.png);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  max-width: 100%;
  height: 550px;
  transition: all 0.4s;
}

.options .option:not(.active) {
  flex-grow: 1;
  border-radius: 5px;
}

.options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

.options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}

.options .option .label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option:not(.active) .label .icon-custom {
  display: flex !important;
}

.options .option .label .icon-custom {
  display: none;
  justify-content: center;
  align-items: center;
  min-width: 87px;
  max-width: 87px;
  height: 250px;
  transition: all 0.4s;
}

.options .option .label .icon-custom h3 {
  transform: rotate(-90deg);
  min-width: 350px;
  position: relative;
  bottom: 80px;
  left: 48px;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  transition: all 0.4s;
}

.options .option:not(.active) .label .info {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.options .option .label .info {
  margin-left: 10px;
  color: white;
  border-radius: 5px;
  padding: 35px 35px;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s;
}

.options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}

.options .option .label .info .main {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  transition: all 0.4s;
}

.options .option .label .info .sub {
  transition-delay: 0.1s;
  font-size: 16px;
  line-height: 28px;
  color: rgb(255 255 255 / 90%);
  font-weight: 400;
  transition: all 0.4s;
}

.options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  border-radius: 5px;
  background-size: auto 100%;
}

.search-icon {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  opacity: 0;
}

.option.active .search-icon{
  opacity: 1;
}